
header {
    padding-top: 32px;
    padding-bottom: 8px
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;

    margin: 0 auto;
}

.logo-wrapper {
    display: flex;
    align-items: center;

    .logo-img {
        width: 16px;
        height: 16px;
        margin-right: 8px;
    }
}

.logo {
    color: var(--white);
    font-size: 16px;
}

.nav-list {
    margin: 0;
    padding: 0;

    display: flex;
    gap: 32px;
}

.nav-link {
    color: var(--gray);
    text-decoration: none;
}

.nav-link[href="index.html"] {
    color: var(--white);
}

.nav-link::before {
    content: '#';
    color: var(--primary);
    margin-right: 1px;
}

.main-container { 
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 112px;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 18px;
    margin-top: 62px;
}

.hero-content {
    flex: 1;

    h2 {
        font-size: 32px;
    }

    span {
        color: var(--primary);
    }

    p {
        margin-bottom: 24px;
    }
}


.hero-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.green-square {
    width: 16px;
    height: 16px;
    background-color: var(--primary);
}

.portfolio-note-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--gray);
    padding: 8px;
    width: 402px;

}

.portfolio-note {
    font-size: 16px;
    margin: 0;

    span {
        color: var(--white);
        font-weight: bold;
    }
}

/* Quote Section */

.quote {
    text-align: center;
    border: 1px solid var(--gray);
    margin: 0 auto;
    position: relative;

    blockquote {
        color: var(--white);
        font-size: 24px;
        margin: 0;
        padding: 32px;
    }
}

.quote blockquote::before, .quote blockquote::after {
    content: '"';
    position: absolute;
    color: var(--gray);
    font-style: italic;
    font-size: 56px;
    font-weight: bold;
    background-image: linear-gradient(var(--background), var(--background));
    background-size: 100% 45%;
    background-repeat: no-repeat;
}

.quote blockquote::before {
    top: -20px;
    left: 20px;
}

.quote blockquote::after {
    top: 71px;
    right: 20px;
}

.quote figcaption {
    position: absolute;
    color: var(--gray);
    font-size: 24px;
    padding: 16px;
    border: 1px solid var(--gray);
    right: -1px;
    border-top: none;
}

/* Social Links */

.social-links {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left:17px;
    top:0;
    gap: 8px;
}

.social-links-line {
    width: 1px;
    height: 191px;
    background-color: var(--gray);
    display: block;
}

.social-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.social-links-line:hover {
    background-color: var(--primary);
}


/* Projects Section */

.projects {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        position: relative;
        font-weight: 500;
        margin: 0;
    }
}

.section-header h2::before {
    content: "#";
    color: var(--primary);
}

.section-header h2::after {
    content: "";
    background-color: var(--primary);
    width: 500px;
    height: 1px;
    position: absolute;
    right: -16px;
    top:50%;
    transform: translate(100%, -50%);
}

.section-header a {
    color: var(--white);
    text-decoration: underline;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    align-items: start;   
}

.project-card, .project-card img {
    border: solid 1px var(--gray);
}

.project-card img {
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.project-card ul {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    color: var(--gray);
    border-bottom: solid 1px var(--gray);
    margin:0;
    padding: 8px;
}

.project-info {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    h3 {
        font-size: 24px;
        margin: 0;
    }

    p {
        margin: 0;
    }
}

/* Skills Section */

.skills {
    display: flex;
    flex-direction: column;
    gap: 12px;
   
}

.skills-content {
    display: flex;
    justify-content: space-between;
}

.skill-cards {
    display: flex;
    gap: 16px;
}

.skill-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px solid var(gray);
}

.skill-category {
    border: 1px solid var(--gray);

    ul {
        padding: 8px;
        margin: 0;
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        color: var(--gray);
    }
}

.skill-category h4 {
    padding: 8px;
    border-bottom: 1px solid var(--gray);
    margin: 0;
}

/* About Section */

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        max-width: 339px;
        animation: upAndDownAnimation 4s ease-in-out infinite;
    }
}

.about-text {
    max-width: 515px;
    
    p {
        margin-bottom: 27px;
    }
}

@keyframes upAndDownAnimation {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

}

/* Contacts section  */

.contacts-content {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;

    p {
        max-width: 505px;
        margin-top: 0;
    }
}

.contacts-card {
    border: 1px solid var(--gray);
    padding: 16px;

    h4 {
        margin-top: 0;
        margin-bottom: 16px;
        font-weight: 600;
    }
}

.contact {
    color: var(--gray);
    display: flex;
    gap: 9px;
    align-items: center;
    margin-top: 8px;
}

/* Footer */

footer {
    border-top: 1px solid var(--gray);
    padding: 32px 0;
    margin-top: 145px;
}

.footer-container {
    max-width: 1024px;
    margin: 0 auto;

    .footer-content {
        display: flex;
        justify-content: space-between;
    }
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 9px;

    h4 {
        margin: 0;
    }
}

.footer-logo img{
    width: 16px;
    height: 16px;
}

.footer-logo-wrapper {
    display: flex;
    align-items: center;
    gap: 24px;

    a {
        color: var(--gray);
        transition: color 0.5s ease;
    }
    margin-bottom: 8px;
}

.footer-logo-wrapper a:hover {
    color: var(--white);
}

.footer-info p{
    color: var(--white);
    margin-top: 16px;
}


.footer-media h3{
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: 500;
}

.copyright {
    text-align: center;
    margin: 40px 0 32px 0;
}

.burger-icon, .close-icon {
    display: none;
    cursor: pointer;
}


@media (max-width: 480px) {

    .main-container {
        padding: 16px;
    }

    .nav-list {
        background-color: var(--background);
        position: fixed;
        flex-direction: column;
        right: -100%;
        top: 60px;
        width: 100%;
        height: calc(100% - 60px);
        text-align: center;
        padding: 0;
        margin: 0;
        transition: 0.3s ease;
    }

    .nav-list.active {
        right: 0;
        z-index: 999;
    }
    .social-links {
        display: none;
    }

    .burger-icon {
        display: block;
    }

    .navbar {
        padding: 16px;
        padding-bottom: 0;
    }

    header {
        padding: 0;
    }
    
    .hero {
        flex-direction: column;
        margin-top: 34px;
    }

    .hero-img {
        padding: 0 22px;
    }

    .hero-img img, .portfolio-note-wrapper {
        width: 100%;
    }

    .quote blockquote{
        font-size: 18px;
        padding: 24px;
    }

    .quote figcaption {
        font-size: 18px;
    }
    .quote blockquote::after {
        top: 48px;
        right: 20px;
    }

    .section-header h2::after {
        display: none;
    }

    .project-cards {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .skills-content, .skill-cards {
        flex-direction: column;
    }

    .skills-content img {
        display: none;
    }

    .skills {
        gap: 36px;
    }

    .about-content {
        flex-direction: column;

        img {
            display: none;
        }
    }

    .contacts-content {
        flex-direction: column;
    }

    .footer-content {
        flex-direction: column;
        gap: 16px;
    }
    
    .footer-container {
        padding: 0 16px;
    }

    footer {
        margin-top: 45px;
        padding: 16px 0;
    }

    .close-icon {
        display: none;
    }
}